name: Release
on:
  release:
    types: [published]
jobs:
  build:
    name: Build packages
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    container:
      image: python:3.12.12-slim-trixie
    steps:
    - uses: actions/checkout@v5
    - name: Install dependencies
      run: pip install build
    - name: Build packages
      run: |
        python -m build
    - name: Upload artifacts
      uses: actions/upload-artifact@v5
      with:
        name: packages
        path: dist/
  deploy-testpypi:
    name: Deploy packages to test.pypi.org
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    container:
      image: python:3.12.12-slim-trixie
    environment:
      name: test.pypi.org
      url: https://test.pypi.org/project/pysen/
    needs: build
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v6
      with:
        name: packages
        path: dist/
    - name: Publish a Python distribution to test.pypi.org
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository_url: https://test.pypi.org/legacy/
  deploy-pypi:
    name: Deploy packages to pypi.org
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    container:
      image: python:3.12.12-slim-trixie
    environment:
      name: pypi.org
      url: https://pypi.org/project/pysen/
    needs: [build, deploy-testpypi]
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v6
      with:
        name: packages
        path: dist/
    - name: Publish a Python distribution to pypi.org
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
